<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="icon" href="../public/img/iconoSura-removebg-preview.png">
</head>
<body>
    <!-- <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <input type="text" id="usuario" placeholder="Usuario">
        <input type="text" id="contraseña" placeholder="Contraseña">
        <button id="btnIniciar" onclick="validarLogin()">Ingresar</button>
      
    </div> -->

    <div class="login-container">
        <div class="login-card">
            <img src="../public/img/iconoSura-removebg-preview.png" alt="Logo Sura" class="logo">
            <h1 class="title">Iniciar Sesión</h1>
            <input type="text" id="usuario" class="input" placeholder="Usuario">
            <input type="password" id="contraseña" class="input" placeholder="Contraseña">
            <button id="btnIniciar" class="btn" onclick="validarLogin()">Ingresar</button>
        </div>
    </div>
    <script src="../../view/public/js/login.js"></script>

</body>
</html>