<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="../public/css/registro.css">
    <link rel="icon" href="../public/img/iconoSura-removebg-preview.png">
</head>
<body>
    <header class="cabecera">
        <div class="logo">
            <img src="../public/img/logoConTrigre.png" alt="">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../pages/home.html"><b>Home</b></a></li>
                <li><a href="../pages/calculo.html"><b>Liquidacion</b></a></li>
                <li><a href="../pages/registro.html"><b>Registro</b></a></li>
                <li><a href="../pages/historial.html"><b>Historial</b></a></li>
                <li><a href="../pages/estadisticas.html"><b>Estadisticas</b></a></li>
            </ul>
        </nav>
    </header>
    </div>
    <div class="contenedorTiger">
        <img  class="tiger" src="../public/img/tiger_tall-removebg-preview.png" alt="">
    </div>

    <div class="container">
        <h2>Registro</h2>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" required>
            </div>

            <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" name="cargo" required>
            </div>

            <div class="form-group">
                <label for="salario">Salario</label>
                <input type="number" id="salario" name="salario" required>
            </div>

            <button type="submit" class="btn-register">Registrar</button>
        </form>
    </div>


</body>
</html>